<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script type="text/javascript" src="/static/js/libs/socket.io/socket.io.min.js"></script>
<script>
    const socket = io.connect(`${location.host}/mpu6050`);

    socket.on("connect", function () {
        setInterval(function () {
            socket.emit("get_data")
        }, {{ interval }});
    });

    socket.on("recv_data_mpu6050", function (msg) {
        console.log(msg)
    })
</script>
</body>
</html>